:root {
    --dark: #414141;
    --light: #F0F0F0;
    --mid: #838383;
    --accent: #58FFDD;
    /* --bg: #0B0B0B; */
    --bg: #212121;
    /* --lt: #EFE9E4; */
    /* --d1: #4B474F; */
    /* --l1: #AC9D9D; */
    /* --mid: #9395A0; */
    --f1: 'Orbitron', sans-serif;
    --f2: 'Nunito', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f2);
    /* font-family: monospace; */
}

.date {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: var(--f2);
    color: var(--mid);
}


._box {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lt);
    /* overflow-y: scroll; */
}

.listContainer {
    width: 100vw;
    padding: 2.5rem;
    text-align: left;
}

._main {
    background-color: var(--bg);
}

._goals {
    background-color: lightblue;
}

._header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    color: var(--bg);
    padding: 1rem;
}

.title {
    color: var(--accent);
}

/* INPUT STYLE*/

.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus+.input-border {
    width: 100%;
}

.form-control {
    position: relative;
    --width-of-input: 300px;
}

.input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus+.input-border-alt {
    width: 100%;
}


/* #cp CHECKBOX STYLE */
.container {
    cursor: pointer;
}

.container input {
    display: none;
}

.container svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: var(--accent);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.container input:checked~svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}



.todo {
    margin-bottom: 1rem;
    text-align: center;
}

.checklist {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* text-align: left; */
}

.cb {
    /* min-width: 40px; */
    /* min-height: 40px; */
    width: 30px;
}

.td {
    color: var(--light);
    display: flex;
    height: 100%;
    align-items: center;
    /* margin-top: auto; */
    /* margin: auto; */
}


.strike {
    text-decoration: line-through;
    color: var(--accent);
}

.wd {
    color: var(--light);
    font-family: var(--f1);
}

.inactive {
    color: gray;
}

._head {
    color: var(--mid);
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
}

footer {
    /* display:block; */
    font-size: .8rem;
    color: var(--mid);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}


@media (min-width: 480px) {
    .listContainer {
        width: 360px;
    }
}